/* Font Family
================================================== */
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700');

/* Global Styles
================================================== */
.md-subheader, md-content, md-list {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #0665a2;
    color: #fff;
    font-size: 1.05rem;
    font-family: "Oxygen", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    background-color: #0665a2;
    color: #fff;
    font-size: 1.05rem;
    font-family: "Oxygen", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: .025rem;
    line-height: 1.618;
    padding: 1rem 0;
    height: 100vh;
    margin: 0;
    overflow: hidden;

}

*, ::before, ::after {
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Typography / Links
================================================== */

p {
    color: #fff;
    display: block;
    font-size: .9rem;
    font-weight: 400;
    margin: 0 0 2px;
}

a, a:visited {
    color: #8cc3e6;
    outline: 0;
    text-decoration: underline;
}

a:hover, a:focus {
    color: #bbdef5;
}

p a, p a:visited {
    line-height: inherit;
}

/* Misc.
================================================== */

.add-bottom {
    margin-bottom: 2rem !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.no-support {
    margin: 2rem auto;
    text-align: center;
    width: 90%;
}

/* Audio Player Styles
================================================== */
::-webkit-scrollbar {
    width: 10px; /* remove scrollbar space */
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

audio {
    display: none;
}

#audiowrap {
    margin: 0 auto;
}

#currentlyPlaying {
    text-align: center;
}

#duration {
    text-align: center;
}

#buttonWrap {
    text-align: center;
}

#currentlyPlaying {
    display: block;
    font-size: 0;
}

#currentlyPlaying span {
    display: inline-block;
    font-size: 1.05rem;
    vertical-align: top;
}

#currentlyPlaying span#npAction {
    padding: 21px;
    width: 30%;
}

#currentlyPlaying span#npTitle {
    padding: 21px;
    text-align: right;
    width: 70%;
}

.table-container {
    height: 10em;
}

#playlist {
    height: max-content;
}

table {
    display: flex;
    flex-flow: column;
    height: 86vh;
    width: 100%;
}

table thead {
    /* head takes the height it requires,
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: scroll;
}

table tbody tr {
    width: 100%;
}

table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}

#playlist tr:hover {
    background-color: rgba(0, 0, 0, .1);
}

#buttonWrap a {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    height: 35px;
    line-height: .175;
    padding: 10px;
    text-decoration: none;
    transition: background .3s ease;
}

#buttonWrap a:last-child {
    margin-left: 0;
}

#buttonWrap a:hover,
#buttonWrap a:active {
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
}

#buttonWrap a::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Plyr Overrides
================================================== */

.plyr--audio .plyr__controls {
    background-color: transparent;
    border: none;
    color: #fff;
    padding: 20px 20px 20px 13px;
    width: 100%;
}

.plyr--audio .plyr__controls button.tab-focus:focus,
.plyr--audio .plyr__controls button:hover,
.plyr__play-large {
    background: rgba(0, 0, 0, .1);
}

.plyr__progress--played,
.plyr__volume--display {
    color: rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer,
.plyr--audio .plyr__volume--display {
    background: rgba(0, 0, 0, .1);
}

.plyr--audio .plyr__progress--buffer {
    color: rgba(0, 0, 0, .1);
}

/* Media Queries
================================================== */

@media only screen and (max-width: 600px) {
    #currentlyPlaying span#npAction {
        display: none;
    }

    #currentlyPlaying span#npTitle {
        display: block;
        text-align: center;
        width: 100%;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.now-playing {
    background-color: #8cc3e6;
}

body > md-toolbar {
    z-index: 3;
}

.vertical-container {
    overflow: hidden;
    display: table;
    height: 100%;
}

md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
    font-size: 16px;
}

md-card:first-child {
    padding: 8px 8px 8px 24px;
}

.checkboxes > md-checkbox {
    margin: 0;
    padding: 16px;
    min-width: 300px;
    flex: 0 0 auto;
}

.repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 75px;
    padding-top: 10px;
}

tbody::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
}

.jk-rating-stars-container .button {
    cursor: pointer;
}

.jk-rating-stars-container .button .material-icons {
    font-size: 30px;
}

.jk-rating-stars-container .star-button {
    text-shadow: .06em .04em #000
}

.jk-rating-stars-container .star-button.star-on .material-icons {
    color: #ee9a00
}

.jk-rating-stars-container .star-button.star-off .material-icons {
    color: #ddd
}

.jk-rating-stars-container {
    width: 50px;
}
