<!doctype html>
<meta charset=utf-8 xmlns="">
<!--[if lt IE 7]>
<html lang="en" ng-app="player" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="player" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="player" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="player" class="no-js"> <!--<![endif]-->
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!--<html ng-app="player">-->
<head>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/md-data-table/dist/md-data-table-style.css">
    <link href="../node_modules/angular-material-icons/angular-material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-aria/angular-aria.js"></script>
<script src="../node_modules/angular-animate/angular-animate.js"></script>
<script src="../node_modules/angular-messages/angular-messages.js"></script>
<script src="../node_modules/angular-material/angular-material.js"></script>
<script src="../node_modules/angular-route/angular-route.js"></script>
<script src="../node_modules/md-data-table/dist/md-data-table.js"></script>
<script src="../node_modules/md-data-table/dist/md-data-table-templates.js"></script>
<script src="../node_modules/angular-websocket/dist/angular-websocket.js"></script>
<script src="components/rating-stars/rating-stars.js"></script>
<link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">
<script src="app.js"></script>
<body>

<div id="mainwrap" ng-controller="PlayerController as controller">
    <md-button class="md-primary md-raised" ng-click="showAdvanced($event)">⚙</md-button>
    <script type="text/ng-template" id="dialog1.tmpl.html">
        <md-dialog
                aria-label="Settings">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Settings</h2>
                        <span flex></span>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <div>Monitored Directories</div>
                        <div ng-repeat="value in monitored_dirs">{{value}}
                            <md-button ng-click="RemoveMonitoredDir($index)">x</md-button>
                        </div>
                        <input type="text" ng-model="player.new_monitored_dir" ng-Trim="false"/>
                        <md-button class="md-primary md-raised" ng-click="AddMonitoredDir()">+</md-button>
                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>
    <div id="player">
        <div id="currentlyPlaying">
            <span id="artist">{{controller.player.song.artist}}</span>
            <span> - </span>
            <span id="title">{{controller.player.song.title}}</span>
        </div>
        <div id="duration">{{controller.player.position | seconds_to_time }}/{{controller.player.duration |
            seconds_to_time }}
        </div>
        <md-slider-container>
            <md-slider min="0" step="0.1" max="{{controller.player.duration}}" ng-model="controller.player.position"
                       aria-label="red" id="duration-slider"
                       class="md-warn" ng-change="controller.player.changePosition()">
            </md-slider>
        </md-slider-container>
        <md-slider-container>
            <span>🔊</span>
            <md-slider min="0" max="100" ng-model="controller.player.volume"
                       aria-label="red"
                       id="volume-slider" class="md-warn" ng-change="controller.player.changeVolume()">
            </md-slider>
        </md-slider-container>
        <label>Repeat:</label>
        <select ng-model="controller.player.repeat_mode"
                ng-change="controller.player.changeRepeatMode()"
                ng-options="item for item in controller.player.repeat_modes">
        </select>
        <label>Playlist:</label>
        <select ng-model="controller.player.playlist" ng-change="controller.player.changePlaylist()"
                ng-options="item as item.name for item in controller.player.playlists track by item.pk">
        </select>
        <label> Filter:</label>
        <input type="text" ng-model="controller.playlist.query_string"
               ng-change="controller.playlist.update_query()"
               ng-Trim="false"/>
        <span>{{controller.playlist.songs.total}} items</span>
        <jk-rating-stars style="width: 10%;"
                         ng-click="controller.player.rate_song(controller.player.song); $event.stopPropagation()"
                         rating="controller.player.song.rating"></jk-rating-stars>



        <div id="buttonWrap" class="noselect">
            <a id="btnPrev" ng-click="controller.player.previous()" class="fa fa-backward"></a>
            <a id="btnPlayPause" ng-click="controller.player.play_pause()"
               ng-class="controller.player.status==controller.player.statuses.playing ? 'fa fa-pause' : 'fa fa-play'">
            </a>
            <a id="btnStop" ng-click="controller.player.stop()" class="fa fa-stop"></a>
            <a id="btnNext" ng-click="controller.player.next()" class="fa fa-forward"></a>
        </div>
    </div>
    <md-content layout="column">
        <div id="playlist">
            <md-table-container md-top-index="controller.playlist.topIndex" id="verticalContainer"
                                md-virtual-repeat-container
                                style="height:73vh">
                <table md-table class="vertical-container">
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>Track No.</span></th>
                        <th md-column><span>Artist</span></th>
                        <th md-column><span>Title</span></th>
                        <th md-column><span>Album</span></th>
                        <th md-column md-numeric><span>Listened Time</span></th>
                        <th md-column md-numeric><span>Rating</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr ng-class="song.pk == controller.player.song.pk ? 'now-playing': ''" md-row md-on-demand
                        md-virtual-repeat="song in controller.playlist.songs" class="repeated-item"
                        ng-click="controller.player.play(song); controller.playlist.song=song"
                        link-to-currently-playing="song">
                        <td md-cell>{{song.track_number}}</td>
                        <td md-cell>{{song.artist}}</td>
                        <td md-cell>{{song.title}}</td>
                        <td md-cell>{{song.album}}</td>
                        <td md-cell>{{song.listened_time | seconds_to_time}}</td>
                        <td md-cell>
                            <jk-rating-stars ng-click="controller.player.rate_song(song); $event.stopPropagation()"
                                             rating="song.rating"></jk-rating-stars>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>

        </div>
    </md-content>
</div>

</body>
</html>
